@page "/CreateAccount"
@inject IAccountService AccountService
@inject AppState AppState
@inject NavigationManager Navigation

<!-- Create account form -->
<h3>Please create a account</h3>
<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!-- Account name -->
    <div>
        <label>Account name</label>
        <InputText @bind-Value="_model.Name" />
    </div>

    <!-- Account type -->
    <div>
        <label>Account type</label>
        <InputSelect @bind-Value="_model.AccountType">
            <option value="">Chose account type!</option>
            <option value="@AccountType.Deposit">Debit account</option>
            <option value="@AccountType.Savings">Savings account</option>
        </InputSelect>
    </div>

    <!-- Curency -->
    <div>
        <label>Currency</label>
        <InputSelect @bind-Value="_model.Currency">
            <option value="">Chose currency!</option>

            <option value="@Currency.SEK">SEK</option>

        </InputSelect>
    </div>

    <!-- Inital balance -->
    <div>
        <label>Initial balance</label>
        <InputNumber @bind-Value="_model.InitialBalance" />
    </div>

    <!-- Submit button -->
    <button type="submit">Create</button>
</EditForm>

<!-- Show accounts -->
<h4>All accounts</h4>
@if(_accounts.Count == 0)
{
    <p>There are no accounts yet, create your first account!</p>
}
else
{
    <!-- Account list -->
    <ul lass="list-group">
        @foreach(var account in _accounts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>@account.Name</strong> - @account.AccountType - @account.Balance - @account.Currency
                    <small>(uppdating @account.LastUpdated.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss"))</small>
                </div>
                
                <!-- Remove account button -->
                <button class="btn btn-danger btn-sm" @onclick="() => DeleteAccountAsync(account.Id)">Delete </button>
            </li>
        }
    </ul>
}

<!-- Simulate day passing for interest -->
<button class="btn btn-warning mb-3" @onclick="SimulateDayPassedAsync">Simulate 1 day of interest</button>

@code {
    /// Private fields and models
    private CreateAccountModel _model = new(); // Holds form data for new account
    private List<BankAccount> _accounts = new(); // List all excisting accounts

    /// <summary>
    /// Ensures accounts are loaded from the service, called when component is initialized
    /// Redirects to the home page if not logged in
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        if (!AppState.IsLoggedIn)
        {
            Navigation.NavigateTo("/home", replace: true);
            return;
        }
        await AccountService.EnsureLoadedAsync();
        _accounts = AccountService.GetAccounts();
    }

    /// <summary>
    /// Handels account creation when when inputted from HTML. Validates and sends data to the AccountService.
    /// </summary>
    private async Task CreateAccountAsync()
    {
        try
        {
            Console.WriteLine(_model.Name);
            await AccountService.CreateAccount(
                _model.Name,
                _model.AccountType,
                _model.Currency,
                _model.InitialBalance);

            // Refresh list of accounts
            _accounts = AccountService.GetAccounts();

            //Resets form field
            _model.Clear();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
            throw;
        }
    }

    /// <summary>
    /// Handels account deletion after confermation
    /// </summary>
    /// <param name="Id">ID of account</param>
    private async Task DeleteAccountAsync(Guid Id)
    {
        bool confirm = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to remove this account?");
        if (!confirm)
            return;
        try
        {
            await AccountService.DeleteAccount(Id);
            _accounts = AccountService.GetAccounts(); // Updating list
            StateHasChanged(); // Updating UI
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error when removing account: {ex.Message}");
        }
    }

    /// <summary>
    /// A internal model class representing the data required to create a new account
    /// </summary>
    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public Currency Currency { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        /// <summary>
        /// Resets model to default
        /// </summary>
        public void Clear()
        {
            Name = string.Empty;
            AccountType = AccountType.Deposit;
            Currency = Currency.SEK;
            InitialBalance = 0;
        }
    }

    /// <summary>
    /// Simulates a day passing to trigger interest updates for savings accounts
    /// </summary>
    private async Task SimulateDayPassedAsync()
    {
        foreach (var account in _accounts)
        {
            account.GetType().GetProperty("LastUpdated")!
                .SetValue(account, account.LastUpdated.AddDays(-1));
        }
        await AccountService.ApplyInterestToSavingsAccounts();
        _accounts = AccountService.GetAccounts();
        StateHasChanged();
    }

    [Inject] private IJSRuntime JS { get; set; } = default!;
}