@page "/CreateAccount"
@inject IAccountService AccountService

<h3>Vänligen skapa ett konto</h3>
<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Kontonamn</label>
        <InputText @bind-Value="_model.Name" />
    </div>
    <div>
        <label>Kontotyp</label>
        <InputSelect @bind-Value="_model.AccountType">
            <option value="">Välj kontotyp!</option>
            <option value="@AccountType.Deposit">Baskonto</option>
            <option value="@AccountType.Savings">Sparkonto</option>
        </InputSelect>
    </div>
    <div>
        <label>Valuta</label>
        <InputSelect @bind-Value="_model.Currency">
            <option value="">Välj valuta!</option>
            <option value="@Currency.Euro">Euro</option>
            <option value="@Currency.SEK">SEK</option>
            <option value="@Currency.USD">USD</option>
        </InputSelect>

    </div>
    <div>
        <label>Start saldo</label>
        <InputNumber @bind-Value="_model.InitialBalance" />
    </div>
    <button type="submit">Skapa</button>
</EditForm>



<!--Lägg till alla konton-->

<h4>Alla konton</h4>
@if(_accounts.Count == 0)
{
    <p>Det finns inga konton ännu, registera ditt första konto!</p>
}
else
{
    <ul>
        @foreach(var account in _accounts)
        {
            <li>
                <strong>@account.Name</strong> - @account.AccountType - @account.Balance - @account.Currency
                <small>(Uppdaterad @account.LastUpdated.ToLocalTime())</small>
            </li>
        }
    </ul>
}



@code {
    private CreateAccountModel _model = new();
    private List<IBankAccount> _accounts = new();

    protected override void OnInitialized()
    {
        _accounts = AccountService.GetAccounts().ToList();
        base.OnInitialized();
    }
    private Task CreateAccountAsync()
    {
        try
        {
            Console.WriteLine(_model.Name);

            AccountService.CreateAccount(
                _model.Name,
                _model.AccountType,
                _model.Currency,
                _model.InitialBalance
            );

            _accounts = AccountService.GetAccounts().ToList();
            _model.Clear();
        }
        catch(Exception exception)
        {
            Console.WriteLine(exception);
            throw;
        }


        return Task.CompletedTask;
    }



    private class CreateAccountModel
    {
        public string Name { get; set; }
        public AccountType AccountType { get; set; }
        public Currency Currency { get; set; }
        public decimal InitialBalance { get; set; }

        public void Clear()
        {
            Name = string.Empty;
            Currency = default;
            InitialBalance = 0;
            AccountType = default;
        }
    }
}