@page "/CreateAccount"
@inject IAccountService AccountService
@inject AppState AppState
@inject NavigationManager Navigation

<!-- Create account form -->
<h3>Vänligen skapa ett konto</h3>
<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!-- Account name -->
    <div>
        <label>Kontonamn</label>
        <InputText @bind-Value="_model.Name" />
    </div>

    <!-- Account type -->
    <div>
        <label>Kontotyp</label>
        <InputSelect @bind-Value="_model.AccountType">
            <option value="">Välj kontotyp!</option>
            <option value="@AccountType.Deposit">Baskonto</option>
            <option value="@AccountType.Savings">Sparkonto</option>
        </InputSelect>
    </div>

    <!-- Curency -->
    <div>
        <label>Valuta</label>
        <InputSelect @bind-Value="_model.Currency">
            <option value="">Välj valuta!</option>

            <option value="@Currency.SEK">SEK</option>

        </InputSelect>
    </div>

    <!-- Inital amount -->
    <div>
        <label>Start saldo</label>
        <InputNumber @bind-Value="_model.InitialBalance" />
    </div>
    <button type="submit">Skapa</button>
</EditForm>

<!-- Show accounts -->
<h4>Alla konton</h4>
@if(_accounts.Count == 0)
{
    <p>Det finns inga konton ännu, registera ditt första konto!</p>
}
else
{
    <ul lass="list-group">
        @foreach(var account in _accounts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>@account.Name</strong> - @account.AccountType - @account.Balance - @account.Currency
                    <small>(uppdaterad @account.LastUpdated.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss"))</small>
                </div>
                <!-- Remove account button -->
                <button class="btn btn-danger btn-sm" @onclick="() => DeleteAccountAsync(account.Id)">Delete </button>
            </li>
        }
    </ul>
}

<button class="btn btn-warning mb-3" @onclick="SimulateDayPassedAsync">Simulera 1 dag</button>


@code {
    /// Private fields and models
    private CreateAccountModel _model = new(); // Holds form data for new account
    private List<BankAccount> _accounts = new(); // List all excisting accounts

    /// <summary>
    /// Ensures accounts are loaded from the service, called when component is initialized
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        if (!AppState.IsLoggedIn)
        {
            Navigation.NavigateTo("/home", replace: true);
            return;
        }
        await AccountService.EnsureLoadedAsync();
        _accounts = AccountService.GetAccounts();
    }

    /// <summary>
    /// Handels account creation when when inputted from HTML. Validates and sends data to the AccountService.
    /// </summary>
    private async Task CreateAccountAsync()
    {
        try
        {
            Console.WriteLine(_model.Name);

            await AccountService.CreateAccount(
                _model.Name,
                _model.AccountType,
                _model.Currency,
                _model.InitialBalance);

            // Refresh list of accounts
            _accounts = AccountService.GetAccounts();

            //Resets form field
            _model.Clear();
        }

        catch (Exception exception)
        {
            Console.WriteLine(exception);
            throw;
        }
    }

    /// <summary>
    /// Handels account deletion after confermation
    /// </summary>
    /// <param name="Id">ID of account</param>
    private async Task DeleteAccountAsync(Guid Id)
    {
        bool confirm = await JS.InvokeAsync<bool>("confirm", $"Vill du verkligen ta bort kontot?");
        if (!confirm)
            return;

        try
        {
            await AccountService.DeleteAccount(Id);
            _accounts = AccountService.GetAccounts(); // uppdaterar listan
            StateHasChanged(); // uppdaterar UI
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fel vid borttagning av konto: {ex.Message}");
        }
    }

    /// <summary>
    /// A internal model class representing the data required to create a new account
    /// </summary>
    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public Currency Currency { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        /// <summary>
        /// Resets model to default
        /// </summary>
        public void Clear()
        {
            Name = string.Empty;
            AccountType = AccountType.Deposit;
            Currency = Currency.SEK;
            InitialBalance = 0;
        }
    }

    private async Task SimulateDayPassedAsync()
    {
        foreach (var account in _accounts)
        {
            // Flytta fram "LastUpdated" ett dygn bakåt, så ApplyInterest märker att 1 dag gått
            account.GetType().GetProperty("LastUpdated")!
                .SetValue(account, account.LastUpdated.AddDays(-1));
        }

        await AccountService.ApplyInterestToSavingsAccounts();
        _accounts = AccountService.GetAccounts();
        StateHasChanged();
    }





    [Inject] private IJSRuntime JS { get; set; } = default!;

}